@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .underline-custom {
    text-decoration-color: #eabd4d;
    text-underline-offset: 4px;
  }
}

body {
  background-color: #fffefa;
  color: #473a3f;
}
